root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cshtml,css,html,js,json,less,md,ps1,scss,sh,ts,tsx}]
indent_size = 2

[web.config]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

